body {
    background-color: rgb(255, 255, 165);
    font-family: "Comfortaa", sans-serif;
    background-color: #00a6a6;
}

.image{
    border: 10px;
    border-color: #00a6a6;
    border-radius: 20px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #83c5be;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}